<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>83033989914-p2ab74900unmdvpgk9gqkmpbvmi3fh6i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.83033989914-p2ab74900unmdvpgk9gqkmpbvmi3fh6i</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>83033989914-lc7k0oad3lbo48t6148n4aagva5r4t21.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDVQXCOCGLlxyGtJtT3Cs71ZEyGZCfZcxM</string>
	<key>GCM_SENDER_ID</key>
	<string>83033989914</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.migajasdepan</string>
	<key>PROJECT_ID</key>
	<string>migajas-8187b</string>
	<key>STORAGE_BUCKET</key>
	<string>migajas-8187b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:83033989914:ios:de493d2daea6e6259702a3</string>
</dict>
</plist>